body{
	margin-left: 3rem;
	margin-right: 3rem;
}



h1{
	
	text-align: center;
	color:green;
}

h2{
	text-align: center;
}
img {
	height: 12rem;
	float: left;
	padding: 1rem;
}

a{
	text-decoration: none;
	font-size: 1.1em;
}

li {
	margin-left: 290px;
}

/*.caption {
	margin-left: .2rem;
}*/
